@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --fonteTipografia: 'Kanit';
    --cor1: black;
    --cor2: black;
    --cor3: black;
}

.tipografia {
    font-family: var(--fonteTipografia);
}

.corNumeroUm {
    color: var(--cor1);
    transition: color 3s ease-in-out;
}

.corNumeroUm:hover {
    color: green;
}

.corNumeroDois {
    color: var(--cor2);
    transition: color 3s ease-in-out;
}

.corNumeroDois:hover {
    color: blue;
}

.corNumeroTres {
    color: var(--cor3);
    transition: color 3s ease-in-out;
}

.corNumeroTres:hover {
    color: yellow;
}

.titulo-vermelho {
    color: black;
    transition: color 3s ease-in-out;
}

.titulo-vermelho:hover {
    color: red;
}

@keyframes animation-1 {
      0% {
        background-color: black;
      }
      50% {
        background-color: green;
      }
      100% {
        background-color: red;
      }
}