header {
    display: flex;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header > a {
    color: #fff;
    text-transform: uppercase;
}

header > nav > ul {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

header > nav > ul li > a {
    color: #fff;
    flex-direction: row;
}

section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;   
    gap: 32px;                 
    width: 100%;
}

section > div {
    width: 200px;              
    text-align: center;        
}

section > div > img {
    width: 100%;               
    height: 200px;             
    object-fit: contain;       
    display: block;
}