        body {
            background-color: #f0f0f0;
            font-family: sans-serif;
            margin: 0;
        }
        .tudo {
            width: 1000px;
            background-color: white;
            margin: 0 auto;
        }
        #topo {
            background-color: #333;
            color: white;
            padding: 20px;
            text-align: center;
        }
        .texto-ruim {
            color: #d1d1d1;
        }
        .botoes {
            padding: 50px;
            text-align: center;
        }
    